@font-face {
  font-family: "Lexend";
  src: url("../assets/fonts/lexend-regular.eot");
  src: url("../assets/fonts/lexend-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/lexend-regular.woff") format("woff"),
    url("/assets/fonts/lexend-regular.ttf") format("truetype"),
    url("../assets/fonts/lexend-regular.svg#Lexend") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../assets/fonts/lexend-medium.eot");
  src: url("../assets/fonts/lexend-medium.eot#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/lexend-medium.woff") format("woff"),
    url("../assets/fonts/lexend-medium.ttf") format("truetype"),
    url("../assets/fonts/lexend-medium.svg#Lexend") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../assets/fonts/lexend-bold.eot");
  src: url("../assets/fonts/lexend-bold.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/lexend-bold.woff") format("woff"),
    url("../assets/fonts/lexend-bold.ttf") format("truetype"),
    url("../assets/fonts/lexend-bold.svg#Lexend") format("svg");
  font-weight: bold;
  font-style: normal;
}
